body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    background-color: #000000;
    

}


.container {
    text-align: center;
    background-color: #676565;
    padding: 20px;
    border-radius: 10px;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #949597;
    color: rgb(0, 0, 0);
}

.buttons button:hover {
    background-color: #0056b3;
}
